apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: nodejs-component
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: nodejs-component
    app.kubernetes.io/part-of: e2e-nodejs
  name: nodejs-component
  namespace: ae2e-tests
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: nodejs-component
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/instance: nodejs-component
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/test-images:9d0aabf7c0c24f6598b400b6f6c6984c
        imagePullPolicy: Always
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        name: container-image
        ports:
        - containerPort: 8080
        readinessProbe:
          initialDelaySeconds: 10
          periodSeconds: 10
          tcpSocket:
            port: 8080
        resources: {}
status: {}
